@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: "RoundedElegance";
src:url("./rounded elegance.ttf")format('truetype') ;/* font-weight: bold; */
}

.title{
    font-family: "RoundedElegance";
}

.horiline{
    height: 2px;
    background-color: #1d911f;
    border: #1d911f;
}

.ab{
    background-color: rgba(208, 244, 200, 0.182);
}

.abcard{
    display: flex;
    width: 100%;
}

.abitem{
    border-radius: 1.5rem;
    padding: 1rem;
    flex: 1;
background: #dcfce7;
box-shadow:  20px 20px 60px #cbcfc9,
             -20px -20px 60px #ffffff;
}