
.landing{
    padding-top: 5rem;
    padding-bottom: 7rem;
}

#subtitle{
  /* display:inline-block; */
  /* overflow:hidden; */
  font-size: larger;
  /* white-space:nowrap; */
  /* height: 3.5rem;x  */
}

#exp-button{
  position: relative;
}


/* #subtitle:first-of-type {    
  animation: showup 10s infinite;
}

#subtitle:last-of-type {
  width:0px;
  animation: reveal 10s infinite;
}

#subtitle:last-of-type span {
  margin-left:-355px;
  animation: slidein 10s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:90%;}
    80% {opacity:1;}
    100% {opacity:0;width:90%;}
} */


.text{
    margin-top: 7rem;
    padding-left: 3rem;
}

.title{
    font-size: 3rem;
    font-weight: bold;
    color: #2A545B;
    /* width: 30rem; */
    text-wrap:wrap;
}

.bg1{
    width: 70vh;
    height: auto;
    margin: auto;
}

.bg1cont{
    text-align: center;
}



/*media queries*/
@media (max-width: 992px) {
  .text{
    padding-left: 2rem;
}
/* #subtitle{
  height: 4.8rem;
} */
.bg1{
    margin-top:3rem;
}


.landing{
    padding-top: 3rem;
    padding-bottom: 7rem;
}

/* #landtext{
  opacity: 0;
            transition: opacity 3s;
} */

}
@media (max-width: 768px) {
  .text{
    margin-top: 4rem;
}

.landing{
    padding-top: 1rem;
    padding-bottom: 7rem;
}



.bg1{
    width: 50vh;
    height: auto;
}
  
    .title{
    font-size: 2.5rem;
  }
  .subtitle{
    font-size:120%;
  }
}

@media (max-width: 576px) {
  .text{
    margin-top: 1.5rem;
}
  
    .title{
    font-size: 2rem;
  }
  .subtitle{
    font-size:100%;
  }


}

@media (max-width: 450px) {
  /* #subtitle{
    height: 5em;
  } */
}