.main-navbar{
  background: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  /* box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); */
  transition: all 80ms ease-out;
  /* margin: 0 0 1em 0; */
}



.logo{
  height: 2rem;
  object-fit: cover;
  /* position: fixed; */
  width: auto;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.navbar-items{
  justify-content: end;
}

.link {
  display: inline-block;
  position: relative;
  color: #000000;
  margin-left: 1em;
  margin-right: 1em;
}

.link::after {
  content: '';
  position: absolute;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  background-color: #757575;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.box {
  border: 0px none;
  height: 2rem;
  width: 11.375rem;
}

.box .brand-logo {
  height: 2rem;
  left: 0;
  object-fit: cover;
  position: fixed;
  width: 11.375rem;
}

@media (max-width: 640px) {
  .box .brand-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

